form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: 1px solid var(--border);
    border-radius: 2rem;
    padding: 2rem;
    width: 60%;
    margin: 2rem auto;
    box-shadow: 0 4px 4px var(--border);
}

section{
    padding: 0;
}

.form{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input[type="text"],input[type="date"],input[type="number"],select {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid var(--border);
    border-radius: 6px;
    font-size: 0.9rem;
}

label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--text-primary);
}

.sub {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.sub>div {
    width: 49%;
}

@media screen and (width <1028px) {
    form {
        width: 80%;
    }

    .sub {
    flex-wrap: wrap;
}
}