.card {
    padding: 16px;
    display:flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}

.card>div {
    width: 300px; display:
    flex; align-items: center;
    padding: 8px 12px;
}

.card>div>input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 0.9rem;
}

@media screen and (width <1028px) {
    .card{
        gap: .5rem;
        padding: .5rem;
        flex-wrap: wrap;
    }

    .modern-table{
        overflow-x: scroll;
        white-space: nowrap;
        display: block;
    }
}