section>div {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 32px;
}

@media screen and (width<1028px) {
    section>div {
        grid-template-columns: 1fr;
    }
}